body {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/8dc3f88b-a96a-4d8a-af9a-a69e6f3b2506/9f3a806d-3b15-41b0-8722-3a6fe33deff7/MX-es-20210524-popsignuptwoweeks-perspective_alpha_website_small.jpg);
    margin: 0;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: "Netflix Sans", 'Helvetica Neue', Helvetica, Arial,sans-serif;
}
.btn-login{
    background-color: #e50914;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
    color: #ffffff;
    border-radius: 3px;
}
body:before{
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    background: black;
    opacity: 0.3;
    z-index: -1;
}
@font-face {
    font-family: 'Netflix Sans';
    font-weight: 900;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff) format('woff')
}
